INFLUXDB_URL: [TEXT]
INFLUXDB_TOKEN: [TEXT]
INFLUXDB_ORG: [TEXT]
INFLUXDB_BUCKET: [TEXT]

MQTT_HOST: [TEXT]
MQTT_PROTOCOL: mqtts
MQTT_USERNAME: [TEXT]
MQTT_PASSWORD: [TEXT]

# MONGODB_URI=mongodb://mongo:27017/lactokeeper
MONGODB_URI=mongodb://localhost:27017/lactokeeper
JWT_SECRET=unaclavesecretabuenaParagenerarTokens1234


POSTGRES_USER: [TEXT]
POSTGRES_PASSWORD: [TEXT]
POSTGRES_HOST: [TEXT]
POSTGRES_PORT: [TEXT]
POSTGRES_DB: [TEXT]

